.home {
    @apply w-screen;
    z-index: 1 !important;
}

.home-intro {
    @apply w-full flex md:items-center;
    min-height: calc(100vh - 76px) !important;

    &__content {
        @apply w-full grid grid-cols-1 md:grid-cols-2 gap-6;

        &-left {
            @apply h-full flex justify-center flex-col;
        }
    }

    &__title {
        @apply text-4xl sm:text-5xl font-bold mb-2;
    }

    &__subtitle {
        @apply text-base md:text-xl font-medium;
    }

    &__actions {
        @apply flex items-center mt-4;

        :first-child {
            @apply mr-4;
        }
    }

    &__developer-img {
        max-width: 100%;
        height: auto;
    }
}
